/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Typography
# Indents
# Main
# Imports
--------------------------------------------------------------*/
/* ##### TYPOGRAPHY ##### */
/* Titles */
.title,
.our-email,
.thanks-title {
  font-size: 42px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif; }

.title-39 {
  font-size: 39px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif; }

.red-title {
  font-size: 21px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  color: #D0021B;
  letter-spacing: 5px;
  padding-top: 160px; }
  .red-title.small-padding {
    padding-top: 110px; }
  .red-title.no-padding {
    padding-top: 0; }
  .red-title.big {
    font-size: 24px; }

.mini-title {
  font-size: 18px;
  font-family: 'Poppins', sans-serif; }

/* Secondary text */
.secondary-text {
  font-size: 14px;
  font-family: 'Poppins', sans-serif; }

/* Helpers */
.font-letter-spacing {
  font-weight: 500;
  letter-spacing: normal; }

.opacity-none {
  opacity: 0; }

.centered-content {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

/* Text color */
.text-tan {
  color: #C9AD80; }

.text-baba {
  color: #BABABA; }

.text-4a {
  color: #4A4A4A; }

/* ##### INDENTS ###### */
/* Paddings */
.prl-0 {
  padding-left: 0;
  padding-right: 0; }

.pt-30 {
  padding-top: 30px; }

.pt-34 {
  padding-top: 34px; }

.pt-40 {
  padding-top: 40px; }

.pt-54 {
  padding-top: 54px; }

.pt-60 {
  padding-top: 60px; }

.pt-68 {
  padding-top: 68px; }

.pt-104 {
  padding-top: 104px; }

.pt-184 {
  padding-top: 184px; }

.pb-90 {
  padding-bottom: 90px; }

.pb-110 {
  padding-bottom: 110px; }

/* ##### MAIN ###### */
body {
  position: relative;
  margin: 0; }

section {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background: #fff; }
  section.centered {
    padding: 0; }

.page {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  position: relative; }

.header {
  padding: 0 70px 0 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

/* Top img */
.top-img {
  background-image: url("../img/top-img.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* BG */
.bg-black {
  background-color: #000; }

.bg-blackens {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.bg-darkens {
  background-color: #343230; }

.bg-red {
  background-color: #DB1E3D; }

/*Logo*/
/* Flex */
.flex-justify-align {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.d-grid {
  display: grid; }

/* BTNS */
a.btn {
  width: 270px;
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  outline: none;
  position: absolute;
  left: -webkit-calc(50% - 135px);
  left: calc(50% - 135px);
  bottom: 0;
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  a.btn:hover {
    color: #fff;
    background: #B41F33; }

a.go-top {
  bottom: 60px; }
  a.go-top:hover {
    background: #343230; }

a.menu,
a.cross {
  display: block;
  text-decoration: none;
  outline: none; }

/*inputs*/
.main-form {
  font-size: 28px;
  font-family: 'Poppins', sans-serif; }

input[type=text] {
  width: auto;
  border: none;
  outline: none;
  font-size: 28px; }

input#attach {
  display: none; }

#attach-label {
  color: #000;
  font-weight: bold;
  cursor: pointer; }

#attach-label:hover {
  color: #DB1E3D; }

/* ##### IMPORTS ###### */
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# copyright
--------------------------------------------------------------*/
.copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #D8D8D8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  line-height: normal;
  color: #4A4A4A;
  padding: 0 50px; }

a.nubrink {
  font-weight: 600;
  display: contents;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  color: #4A4A4A; }

a.nubrink:hover {
  color: #00B4B4; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 90px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
  -webkit-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s; }
  .header #logo .logo-icon {
    height: 18px;
    width: 154px;
    fill: #fff;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
  .header.black {
    background: #fff; }
  .header.black #logo .logo-icon {
    fill: #231F20; }
  .header a {
    display: block;
    cursor: pointer; }
  .header .menu-icon-svg {
    height: 41px;
    width: 37px;
    fill: #fff;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
  .header.black .menu-icon-svg {
    fill: #231F20; }
  .header:hover .menu-icon-svg {
    fill: #C9AD80; }

.scroller {
  position: absolute;
  right: -25px;
  bottom: 155px;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  text-decoration: none !important;
  outline: none;
  cursor: pointer; }

.vert-line {
  height: 1px;
  width: 146px;
  background-color: #979797;
  margin-left: 31px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

.scroller .title {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #fff;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  text-decoration: none; }

.scroller:hover .vert-line {
  background: #C9AD80; }

.scroller:hover .title {
  color: #C9AD80; }

/*Fixes 04.02*/
.section_5 a.phone {
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: #212529;
  text-decoration: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: inline-block; }
  .section_5 a.phone:hover {
    color: #EE0036; }
    .section_5 a.phone:hover .phone-line {
      background: #EE0036; }
  .section_5 a.phone .phone-line {
    background-color: transparent;
    height: 3px;
    width: 100%;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# input text
# input select
# attached file
--------------------------------------------------------------*/
/* input text */
input.input-text {
  font-size: 28px;
  border: none;
  outline: none;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid transparent;
  cursor: pointer; }
  input.input-text::-webkit-input-placeholder {
    color: #BABABA;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
  input.input-text::-moz-placeholder {
    color: #BABABA;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
  input.input-text::-ms-input-placeholder {
    color: #BABABA;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
  input.input-text::placeholder {
    color: #BABABA;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
  input.input-text:not(:focus):not(placeholder) {
    color: #C9AD80; }
  input.input-text:focus {
    border-color: #D0021B;
    width: 260px !important;
    cursor: text; }
    input.input-text:focus::-webkit-input-placeholder {
      color: transparent; }
    input.input-text:focus::-moz-placeholder {
      color: transparent; }
    input.input-text:focus::-ms-input-placeholder {
      color: transparent; }
    input.input-text:focus::placeholder {
      color: transparent; }

/* input select */
.styled-select {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
  transition: all 0.4s; }
  .styled-select select {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    opacity: 0;
    pointer-events: none; }
  .styled-select .styled-select__val {
    color: #BABABA; }
    .styled-select .styled-select__val.selected {
      color: #C9AD80; }
  .styled-select .styled-select__options {
    position: absolute;
    top: -webkit-calc(100% + 1px);
    top: calc(100% + 1px);
    left: 0;
    max-height: 210px;
    min-width: 200px;
    background: #fff;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
    -webkit-transform: translateY(15px);
        -ms-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    pointer-events: none;
    z-index: 10;
    overflow: auto; }
  .styled-select .styled-select__options__val {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Open Sans', sans-serif;
    height: 30px;
    font-size: 14px;
    text-align: left;
    padding: 0 10px; }
  .styled-select .styled-select__options__val.selected {
    background: #ededed;
    font-weight: 600; }
  .styled-select .styled-select__options__val:hover {
    background: #ededed; }
  .styled-select.active {
    border-color: #D0021B; }
    .styled-select.active .styled-select__options {
      -webkit-transform: translateY(0px);
          -ms-transform: translateY(0px);
              transform: translateY(0px);
      opacity: 1;
      pointer-events: auto; }

/*attached file*/
.attached-files {
  margin-top: 54px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .attached-files .file-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    pointer-events: none; }
  .attached-files .file-item .file-name {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #bababa;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-left: 10px; }

.fp-scroller {
  min-height: 100%; }

@media (max-width: 768px) {
  .header {
    height: 75px;
    padding: 0 30px 10px !important;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .header #logo {
      position: relative;
      left: auto;
      top: auto;
      padding: 0 0 7px 10px; }
      .header #logo .logo-icon {
        width: 120px;
        height: 14px; } }

#attach-ico {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 54px;
  font-size: 14px;
  cursor: pointer; }
  #attach-ico .icon {
    display: block;
    width: 44px;
    height: 44px;
    background-image: url("../icons/attached_file.svg");
    background-repeat: no-repeat;
    -webkit-background-size: contain;
            background-size: contain;
    background-position: center; }
  #attach-ico .icon-text {
    color: #BABABA;
    margin-left: 10px; }

section.section_4 {
  background: #f5f5f5; }

#attach-label {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

/*nav bar*/
#nav-bar {
  width: 50vw;
  height: 100vh;
  background-color: #000;
  position: fixed;
  right: 0;
  top: 0;
  padding: 50px 70px 76px 85px;
  z-index: 9999;
  -webkit-transform: translate(100%);
      -ms-transform: translate(100%);
          transform: translate(100%); }

.nav-logo {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  color: #C9AD80; }

a.cross {
  display: block;
  text-decoration: none;
  outline: none; }

a.cross #test {
  width: 36px;
  height: 40px; }

a.nav-link {
  display: inline-block;
  text-decoration: none;
  outline: none;
  color: #fff;
  font-size: 28px;
  line-height: 1.5;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
  padding: 0; }

a.nav-link:hover {
  color: #C9AD80; }

a.nav-link span {
  color: #BABABA;
  font-size: 12px;
  font-style: normal; }

.nav-secondary {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #BABABA;
  max-width: 420px; }

.nav-secondary span {
  font-weight: bold; }

#nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0; }

/*nav bar*/
.plate {
  padding-top: 44px; }

.circle {
  width: 48px;
  height: 48px;
  background-image: url("../img/circle.png");
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 25px; }

.plate-text {
  padding-right: 30px;
  line-height: 2; }

/*01.02.2019*/
.menu-cross-icon-svg {
  fill: #fff;
  width: 37px;
  height: 41px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

#close-nav:hover .menu-cross-icon-svg {
  fill: #C9AD80; }

/*update 04.02*/
#navbar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.85);
  z-index: 999;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s; }
  #navbar-overlay.open {
    opacity: 1; }

#popup {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  height: 100%;
  width: 100%;
  display: none;
  z-index: 1000; }

.popup-body {
  background: #fff;
  position: relative; }

/* Titles */
.popup-body .red-title {
  padding-top: 50px; }

.popup-body .mini-title {
  font-size: 16px;
  color: #4a4a4a; }

/* BTNS */
a.popup-btn {
  position: relative; }

a.mail,
a.our-email {
  display: inline-block;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  outline: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

a.mail:hover {
  color: #EE0036; }

a .mail-line {
  height: 1px;
  width: 100%;
  background-color: transparent;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.mail-line-bold {
  height: 3px;
  width: 100%;
  background-color: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

label#attach-label:hover .mail-line-bold,
a.mail:hover .mail-line,
a.mail:hover .mail-line-bold,
a.phone:hover .mail-line-bold {
  background-color: #EE0036; }

a#close-nav-popup {
  width: 36px;
  height: 40px;
  position: absolute;
  top: 5%;
  right: 4%; }

/* SVG */
.menu-cross-icon-svg-popup {
  fill: #000;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }

#close-nav-popup:hover .menu-cross-icon-svg-popup {
  fill: #C9AD80; }

/* adaptive */
@media (max-width: 1400px) {
  .title {
    font-size: 38px; }
  .red-title {
    padding-top: 85px; }
  .title-39 {
    font-size: 34px; } }

@media (max-width: 1200px) {
  .title {
    font-size: 34px; }
  .mini-title {
    font-size: 16px; }
  .red-title {
    font-size: 18px;
    padding-top: 100px; }
  .title-39 {
    font-size: 32px; } }

@media (max-width: 992px) {
  a.scroller {
    display: none; } }

@media (max-width: 768px) {
  .header {
    height: 75px;
    padding: 0 30px 10px !important;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .header #logo {
      position: relative;
      left: auto;
      top: auto;
      padding: 0 0 7px 10px; }
      .header #logo .logo-icon {
        width: 120px;
        height: 14px; }
  body.fp-responsive section,
  body.fp-responsive .fp-tableCell {
    position: relative;
    height: unset !important;
    min-height: auto; }
    body.fp-responsive section a.go-top,
    body.fp-responsive .fp-tableCell a.go-top {
      margin-top: 100px; }
  body.fp-responsive section.section_1 .centered-content {
    min-height: -webkit-calc(100vh - 60px);
    min-height: calc(100vh - 60px); }
  body.fp-responsive section.section_1 a.btn {
    margin: 0 auto; }
  body.fp-responsive a.btn {
    position: relative;
    bottom: auto;
    left: auto;
    margin: 0 auto 0; }
  a.nav-link {
    margin-top: 10px; } }

@media (max-width: 576px) {
  .title {
    font-size: 32px; }
  .mini-title {
    font-size: 18px; }
  .red-title {
    font-size: 14px; }
  .pt-68 {
    padding-top: 10px; }
  .pt-60 {
    padding-top: 30px; }
  .secondary-text {
    font-size: 14px; }
  .title-39 {
    font-size: 24px; }
  .f-14 {
    font-size: 14px; }
  .section_5 .phone {
    font-size: 30px; }
  .header {
    padding: 25px 30px 0 40px; }
  #nav-bar {
    width: 80vw;
    padding: 25px 30px 0 40px; }
  .main-form {
    padding-top: 66px; }
  .main-form,
  input.input-text,
  .styled-select__val {
    font-size: 24px; }
  .copyright {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .copyright .child {
      text-align: center; }
  a.nav-link {
    line-height: 1.4; }
  a .mail-line-bold {
    margin-top: 10px; } }

@media (max-width: 375px) {
  .container {
    padding-left: 50px;
    padding-right: 50px; }
  .our-email {
    font-size: 21px; }
  .title {
    font-size: 28px; }
  .thanks-title {
    font-size: 28px; }
  .nav-logo {
    font-size: 14px; }
  a.nav-link {
    margin-top: 0;
    ine-height: 1.3; }
  .nav-secondary {
    font-size: 12px; }
  .pt-54 {
    padding-top: 24px; }
  a.our-email {
    font-size: 24px; }
  .main-form,
  input.input-text,
  .styled-select__val {
    font-size: 21px; }
  .no-pad {
    padding-left: 0;
    padding-right: 0; }
  .copyright {
    height: 70px; } }

@media (max-width: 340px) {
  a.nav-link {
    line-height: 1.2; } }

.fp-tableCell {
  display: block; }

.section_4 {
  background-color: #f5f5f5; }
