.mail-wrap {
  width: 600px;
  margin: 0 auto;
  background: #fff;
  padding: 0 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.mail-wrap > .caption {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: #D0021B;
  font-weight: 600;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 80px; }

.mail-wrap > .title {
  font-size: 28px;
  line-height: 42px;
  font-family: 'Poppins', sans-serif;
  color: #000000;
  font-weight: 500;
  text-align: center;
  padding: 35px 60px 0; }

.mail-wrap > .mail-body {
  padding: 100px 0 0; }

.mail-wrap > .mail-body > p {
  font-size: 18px;
  line-height: 27px;
  font-family: 'Poppins', sans-serif;
  color: #000000;
  font-weight: 500;
  text-align: left;
  padding: 0;
  margin: 0; }

.call-to-action {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 140px 0 0;
  margin: 0 auto; }

.call-to-action > a {
  display: inline-block;
  background: #DB1E3D;
  font-size: 12px;
  line-height: 17px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 22px 62px 21px;
  margin: 0 auto;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer; }

.call-to-action > a:hover {
  background: #B41F33; }
