/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# copyright
--------------------------------------------------------------*/

.copyright{
  position: absolute;
  bottom: 0;
  left: 0;
  background: #D8D8D8;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  line-height: normal;
  color: #4A4A4A;
  padding: 0 50px;
}
a.nubrink{
  //font-weight: normal;
  font-weight: 600;
  display: contents;
  text-decoration: none;
  outline: none;
  transition: all 0.4s;
  color: #4A4A4A;
}
a.nubrink:hover{
  color: #00B4B4;
}





//gavno
.header{
  position: fixed;
  top: 0;
  left: 0;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  transition: background 0.4s;

  #logo .logo-icon{
    height: 18px;
    width: 154px;
    fill: #fff;
    transition: all 0.4s;
  }

  &.black{
    background: #fff;
  }

  &.black #logo .logo-icon{
    fill: #231F20;
  }

  a{
    display: block;
    cursor: pointer;
  }

  .menu-icon-svg{
    height: 41px;
    width: 37px;
    fill: #fff;
    transition: all 0.4s;
  }

  &.black .menu-icon-svg{
    fill: #231F20;
  }

  &:hover .menu-icon-svg{
    fill: #C9AD80;
  }
}

.scroller{
  position: absolute;
  right: -25px;
  bottom: 155px;
  color: #fff;
  display: flex;
  align-items: center;
  transform: rotate(-90deg);
  text-decoration: none!important;
  outline: none;
  cursor: pointer;
}
.vert-line{
  height: 1px; width: 146px;
  background-color: #979797;
  margin-left: 31px;
  transition: all 0.4s;
}

.scroller .title{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #fff;
  transition: all 0.4s;
  text-decoration: none;
}

.scroller:hover{
  .vert-line{
    background: #C9AD80;
  }

  .title{
    color: #C9AD80;
  }
}

/*Fixes 04.02*/
.section_5 a.phone{
  // font-size: 39px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: #212529;
  text-decoration: none;
  transition: 0.2s;
  display: inline-block;
  &:hover{
    color: #EE0036;
    .phone-line{
      background: #EE0036;
    }
  }
  .phone-line{
    background-color: transparent;
    height: 3px; width: 100%;
    transition: 0.2s;
  }
}